[submodule "modules/cppmsgwnd"]
	path = modules/cppmsgwnd
	url = https://github.com/BridgerDataSystems/cppmsgwnd.git
[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
